 body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  text-align: center;
  min-width: 200px; 
}
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
  font-size: 1.2em;
  font-style: bold;
}
#name {
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
}
.button-action {
  cursor: pointer;
  background: black;
  border-radius: 6px;
  padding: 3px 3px;
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
}

.button-action:hover {
  background: gray;
}
